body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
}

header h1.ingegreen {
    color: #008000; /* IngéGreen color */
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    background-color: transparent;
}

nav ul li {
    padding: 0.5rem 1rem;
}

nav ul li a.nav-link {
    color: #333;
    text-decoration: none;
}

nav ul li a.nav-link:hover {
    background-color: #dddddd;
}

.selected a.nav-link {
    border: 2px solid #008000; /* NAV selected border color */
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.selected a.nav-link:hover {
    background-color: #dddddd;
    border: 2px solid #008000; /* NAV selected border color */
}

.selected h2 {
    border-left: 0.5rem solid #008000; /* Content selected border color */
    padding-left: 1rem;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    margin-bottom: 1rem;
}

footer {
    background-color: #cccccc;
    padding: 1rem;
    text-align: center;
}